<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
                        default-init-method="init"
                        default-destroy-method="destroy">
	<bean id="helloWorld" class="com.tutorialspoint.HelloWorld" >
		<property name="message1" value="HelloWorld!" ></property>
		<property name="message2" value="Hello Second World"/>
	</bean>
	<bean id="helloIndia" class="com.tutorialspoint.HelloIndia" parent="helloWorld">
		<property name="message1" value="Hello India!"></property>
		<property name="message3" value="Namaste India!"></property>
	</bean>
	<bean id="exampleBean" class="com.tutorialspoint.ExampleBean2"  init-method="init" destroy-method="destroy"></bean>
	<bean id="exampleBean1" class="com.tutorialspoint.ExampleBean" ></bean>
	
	<bean class="com.tutorialspoint.InitHelloWorld"/>
</beans>